{% extends 'base.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Zoter - Responsive Bootstrap 4 Admin Dashboard</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Mannatthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="assets/images/favicon.ico">



{% block head_style %}
    <style>
        div.dataTables_processing {
            background-color: #688a7e;
        }

        .dataTables_length {
            padding: 7px;
        }
    </style>
{% endblock head_style %}
</head>
<body class="nav-md">
<script type="text/javascript">
    var admin = {}
</script>
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
            <div class="left_col scroll-view">


                <div class="clearfix"></div>
                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu"></ul>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="right_col" role="main" style="height: fit-content">
{#        {% include "flash.html.twig" %}#}
        {% block content %}
        {% endblock %}
    </div>
</div>
{% endblock %}





