{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% block body %}
        <div class="accountbg"></div>
        <div class="wrapper-page">

            <div class="card">
                <div class="card-body">

                    <div class="text-center">
                        <a href="/" class="logo logo-admin"><img src="assets/images/e-logo.png" height="20" alt="logo"></a>
                    </div>

                    <div class="px-3 pb-3">
                        <form class="form-horizontal m-t-20" action="{{ path("fos_user_security_check") }}" method="post">
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}
                            {% if error %}
                            <div class="alert alert-danger" role="alert"">
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    </div>
                    {% endif %}

                    <label for="username">{{ 'security.login.username'|trans }}</label>

                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control"type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                        </div>
                    </div>


                    <label for="password">{{ 'security.login.password'|trans }}</label>

                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control" type="password" id="password" name="_password" required="required" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="remember_me" name="_remember_me" value="on" />
                                <label class="custom-control-label" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group text-center row m-t-20">
                        <div class="col-12">

                            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                        </div>
                    </div>

                    <div class="form-group m-t-10 mb-0 row">
                        <div class="col-sm-7 m-t-20">
                            <a href="/forgot" class="text-muted"><i class="mdi mdi-lock"></i> <small>Forgot your password ?</small></a>
                        </div>
                        <div class="col-sm-5 m-t-20">
                            <a href="/register" class="text-muted"><i class="mdi mdi-account-circle"></i> <small>Create an account ?</small></a>
                        </div>
                    </div>
                    </form>
                </div>

            </div>
        </div>
        </div>



        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/modernizr.min.js"></script>
        <script src="assets/js/detect.js"></script>
        <script src="assets/js/fastclick.js"></script>
        <script src="assets/js/jquery.blockUI.js"></script>
        <script src="assets/js/waves.js"></script>
        <script src="assets/js/jquery.nicescroll.js"></script>

        <!-- App js -->
        <script src="assets/js/app.js"></script>

    {% endblock %}
{% endblock fos_user_content %}
