{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    {{ form_start(form, {attr: {class: 'my-form-class'} }) }}
    {{ form_widget(form) }}

    {{ form_end(form) }}
{% endblock %}

