{% extends 'app.html.twig' %}

{% block body %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Zoter - Responsive Bootstrap 4 Admin Dashboard</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Mannatthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="assets/images/favicon.ico">

</head>


<body class="fixed-left">

<!-- Loader -->
<div id="preloader"><div id="status"><div class="spinner"></div></div></div>

<!-- Begin page -->
<div id="wrapper">
    <!-- Top Bar Start -->
    <div class="topbar">

        <nav class="navbar-custom">

            <ul class="list-inline float-right mb-0">
                <!-- language-->
                <li class="list-inline-item hide-phone app-search">
                    <form role="search" class="">
                        <input type="text" placeholder="Search..." class="form-control">
                        <a href=""><i class="fa fa-search"></i></a>
                    </form>
                </li>
                <li class="list-inline-item dropdown notification-list">
                    <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        WELCOME {{ app.user.username|upper }}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        <div class="dropdown-item noti-title"><h5>Welcome</h5>
                        </div>
                        <a class="dropdown-item" href="/login"><i class="mdi mdi-logout m-r-5 text-muted"></i> Logout</a>
                    </div>
                </li>

            </ul>

            <ul class="list-inline menu-left mb-0">
                <li class="float-left">
                    <button class="button-menu-mobile open-left waves-light waves-effect">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </li>
            </ul>

            <div class="clearfix"></div>

        </nav>

    </div>
    <!-- Top Bar End -->

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">
        <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
            <i class="ion-close"></i>
        </button>

        <!-- LOGO -->
        <div class="topbar-left">
            <div class="text-center">
                <!--<a href="index.html" class="logo"><i class="mdi mdi-assistant"></i> Zoter</a>-->
                <a href="index.html" class="logo">
                    <img src="assets/images/logo-lg.png" alt="" class="logo-large">
                </a>
            </div>
        </div>

        <div class="sidebar-inner niceScrollleft">

            <div id="sidebar-menu">
                <ul>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-table"></i><span> Tables </span> <span class="float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="list-unstyled">
                            <li> <a href={{ path('user_add') }}><i class="fa fa-user" aria-hidden="true"></i>Add User</a></li>
                            <li><a href={{ path('user_list') }}><i class="fa fa-list" aria-hidden="true"></i>List</a></li>
                            <li><a href='{{ path('change_password') }}'><i class='fa fa-edit'></i>Change password</a></li>


                        </ul>
                    </li>
                </ul>




            </div>
            <div class="clearfix"></div>
        </div> <!-- end sidebarinner -->
    </div>
    <!-- Left Sidebar End -->


    <!-- Start right Content here -->

    <div class="content-page">
        <!-- Start content -->
        <div class="content">


            <div class="page-content-wrapper ">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a href="#">Zoter</a></li>
                                        <li class="breadcrumb-item"><a href="#">Tables</a></li>
                                        <li class="breadcrumb-item active">Datatable</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Datatable</h4>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>


                    <!-- end page title end breadcrumb -->
                    <div class="row">
                        <div class="left-col-12">
                            <div class="card">
                                <div class="card-body">

                                    <h4 class="mt-0 header-title">Default Datatable</h4>
                                    <p class="text-muted mb-4 font-14">DataTables has most features enabled by
                                        default, so all you need to do to use it with your own tables is to call
                                        the construction function: <code>$().DataTable();</code>.
                                    </p>

                                    <table id="datatable" class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>


                                        <tbody>
                                        {% for post in posts %}
                                            <tr>
                                                <td>{{ post.id }}</td>
                                                <td>{{ post.Username }}</td>
                                                <td>{{ post.email }}</td>
                                                <th>
                                                    <a href='{{ path('user_edit',{id:post.id}) }}'><i class='fa fa-edit'></i>Edit User</a>
                                                    <a href='{{ path('user_delete',{id:post.id}) }}' onclick='return confirm(\"Are you sure you want to delete this user?\")'><i class='fa fa-trash'></i>Delete User</a>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                </div><!-- container -->

            </div> <!-- Page content Wrapper -->

        </div> <!-- content -->

        <footer class="footer">
            © 2019 Zoter by Mannatthemes.
        </footer>

    </div>
    <!-- End Right content here -->

</div>
<!-- END wrapper -->
</body>
{% endblock %}













