
{% extends 'base.html.twig' %}
{% block body %}
<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
        <i class="ion-close"></i>
    </button>

    <!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center">
            <!--<a href="index.html" class="logo"><i class="mdi mdi-assistant"></i> Zoter</a>-->
            <a href="index.html" class="logo">
                <img src="assets/images/logo-lg.png" alt="" class="logo-large">
            </a>
        </div>
    </div>

    <div class="sidebar-inner niceScrollleft">

        <div id="sidebar-menu">
            <ul>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-table"></i><span> Tables </span> <span class="float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                       <li> <a href={{ path('user_add') }}><i class="fa fa-user" aria-hidden="true"></i>Add User</a></li>
                        <li><a href={{ path('user_list') }}><i class="fa fa-list" aria-hidden="true"></i>List</a></li>
                        <li><a href='{{ path('change_password') }}'><i class='fa fa-edit'></i>Change password</a></li>
                    </ul>
                </li>
            </ul>




        </div>
        <div class="clearfix"></div>
    </div> <!-- end sidebarinner -->
</div>
<!-- Left Sidebar End -->
{% endblock %}